<div class="container">
    <div class="row align-items-center">
        <div class="col"></div>
        <div class="col">
            <%= form_tag "/auth/login", method: :post do %>
                <div class="form-group">
                    <label for="email">Nom d'utilisateur</label>
                    <input type="email" class="form-control" id="email" name="user[email]">
                </div>
                <div class="form-group">
                    <label for="password">Mot de passe</label>
                    <input type="password" class="form-control" id="password" name="user[password]">
                </div>
                <button type="submit" class="btn btn-primary">Connexion</button>
            <% end %>
        </div>
        <div class="col"></div>
    </div>
</div>
