<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-auto">
            <h1 class="text-center">
                <%= @current_user.email %> <a class="btn btn-secondary" href="/auth/logout" role="button" aria-pressed="true">Déconnexion</a>
            </h1>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <p id="notice"><%= notice %></p>

            <table class="table table-striped table-dark">
                <thead>
                    <tr>
                    <th scope="col">#</th>
                    <th scope="col">Key</th>
                    <th scope="col">Date de création</th>
                    <th scope="col">Date de mise à jour</th>
                    <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <% @queries.each do |query| %>
                      <tr>
                        <th scope="row"><%= query.id %></th>
                        <td><%= query.key %></td>
                        <td><%= query.created_at %></td>
                        <td><%= query.updated_at %></td>
                        <td><%= link_to 'Voir', query, class: "btn btn-secondary" %></td>
                      </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row justify-content-md-center">
        <div class="col-auto">
            <%= paginate @queries %>
        </div>
    </div>
</div>
