<div class="container">
    <div class="row">
        <div class="col">
            <p id="notice"><%= notice %></p>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h1 class="card-title"><%= @query.key %></h1>
                </div>
                <div class="card-body">
                    <h6 class="card-subtitle mb-2 text-muted"><span class="badge badge-secondary">id: <%= @query.id %></span> <%= @query.created_at %></h6>

                    <hr />

                    <h4>Request</h4>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <span class="badge badge-secondary">fullpath</span>
                            <%= @query.request_log.fullpath %>
                        </li>
                        <li class="list-group-item">
                            <span class="badge badge-secondary">method</span>
                            <%= @query.request_log.method %>
                        </li>
                        <li class="list-group-item">
                            <span class="badge badge-secondary">query_parameters</span>
                            <%= @query.request_log.query_parameters %>
                        </li>
                        <li class="list-group-item">
                            <span class="badge badge-secondary">ip</span>
                            <%= @query.request_log.ip %>
                        </li>
                        <li class="list-group-item">
                            <span class="badge badge-secondary">remote_ip</span>
                            <%= @query.request_log.remote_ip %>
                        </li>
                        <li class="list-group-item">
                            <span class="badge badge-secondary">body</span>
                            <%= @query.request_log.body %>
                        </li>
                        <li class="list-group-item">
                            <span class="badge badge-secondary">content_length</span>
                            <%= @query.request_log.content_length %>
                        </li>
                        <li class="list-group-item">
                            <span class="badge badge-secondary">raw_post</span>
                            <%= @query.request_log.raw_post %>
                        </li>
                    </ul>

                    <hr />

                    <h4>Response</h4>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <span class="badge badge-secondary">code</span>
                            <%= @query.response_log.code %>
                        </li>
                        <li class="list-group-item">
                            <span class="badge badge-secondary">body</span>
                            <pre><%= @query.response_log.body %></pre>
                        </li>
                        <li class="list-group-item">
                            <span class="badge badge-secondary">headers</span>
                            <pre><%= @query.response_log.headers %></pre>
                        </li>
                    </ul>


                </div>
                <div class="card-footer">
                    <%= link_to 'Retour', queries_path, class: "card-link" %>
                </div>
            </div>
        </div>
    </div>
</div>
