<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Negotiator</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <div style="position: absolute; top: 20px; right: 20px;">

    <% if flash[:info] %>
      <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-delay="10000">
        <div class="toast-header">
          <span class="mr-auto badge badge-info"><i class="fas fa-info"></i></span>
          <small class="text-muted">maintenant</small>
          <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="toast-body">
          <%= flash[:info] %>
        </div>
      </div>
    <% end %>

    <% if flash[:error] %>
      <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-delay="10000">
        <div class="toast-header">
          <span class="mr-auto badge badge-error"><i class="fas fa-exclamation"></i></span>
          <small class="text-muted">maintenant</small>
          <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="toast-body">
          <%= flash[:error] %>
        </div>
      </div>
    <% end %>
  </div>

  <%= yield %>
</body>

</html>
